@import "../global-variables.scss";

/* 0 > 450px */
@media screen and (max-width: 450px) {
  .mobile-hidden {
    display: none !important;
  }

  /* NAVIGATION */
  .nav-open {
    opacity: 0;
  }

  .nav-container {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .wp-block-navigation__responsive-close {
    margin-top: 40px;
  }

  .wp-block-navigation:not(.has-background)
    .wp-block-navigation__responsive-container.is-menu-open {
    background-color: $contrastColor;
    color: $primaryColor;
  }

  .wp-block-navigation-item__label {
    font-size: 30px;
    text-decoration: none !important;
  }

  /* PRESENTATION */
  .presentation {
    p {
      font-size: .8rem!important;
    }
  }

  /* PROJECTS */
  .blog-archive,
  .projects-archive {
    li {
      margin: 28px auto;
    }
  }

  .projects-archive {
    .project-button {
      width: 100% !important;
      font-size: 1em;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  /* CONTACT */
  .alt-contact-info {
    padding-top: auto !important;
    padding-bottom: auto !important;
  }

  .contact-form {
    input[type="submit"] {
      max-width: 100% !important;
      width: 100%;
    }
  }

  .about {
    padding-right: 30px !important;
    padding-left: 30px !important;

    .fpt-button {
      width: 50% !important;
    }
  }

  .contact {
    .contact-form {
      span input[type="submit"] {
        max-width: 100% !important;
        width: 100%;
      }
    }

    #input-fields {
      display: block !important;

      input {
        margin-bottom: 15px;
      }

      p {
        max-width: 100% !important;
      }
    }

    textarea {
      max-width: 100% !important;
    }
  }
}
