@import "./global-variables.scss";
@import "./mixins.scss";

/* LAYOUT */
// :where(.wp-site-blocks) > * {
//   margin-block-start: -5px;
// }

body {
  @include default-background;
}

.about {
  padding-top: var(--wp--preset--spacing--50);

  .cards,
  .experience {
    p {
      margin-top: 0 !important;
    }
  }

  .experience--icon {
    text-align: center;
  }

  .about-education img {
    margin-top: 5px;
  }

  .experience {
    i {
      text-align: center;
      color: $contrastColor;
      padding: 5px;
      background-color: $primaryColor;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
    }
  }
}
