@import "./global-variables.scss";
@import "./mixins.scss";

.projects-archive {
  ul li {
    margin-bottom: var(--wp--preset--spacing--50);
  }

  .project-button {
    width: 70%;
    @include input-padding;
    @include primary-contrast-color;
    @include default-bold-font;
    @include default-border-radius;
    border: none;
    
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    &:active {
      border: 2px solid $contrastColor;
    }
  }
}
