@import "./global-variables.scss";
@import "./mixins.scss";

/* LAYOUT */
:where(.wp-site-blocks) > * {
  margin-block-start: -5px;
}

.contact {
  background-color: $backgroundColor;
  color: $baseColor;
  min-height: 75vh;

  br {
    display: none;
  }

  p {
    margin: 0 30px 0 auto !important;
  }

  .input-field {
    display: flex;
    justify-content: flex-start;

    label {
      display: flex;
      width: 100%;
    }

    input {
      margin-right: 12px;
      padding: 10px 0 10px 20px;
    }
  }

  .submit-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;

    span {
      font-size: $fsContactInfo;
    }

    a {
      padding-left: 4px;
      color: $lightBlueColor;
    }
  }

  textarea {
    width: 92%;
    padding: 20px;
    @include high-rounded-border-radius;
  }

  input[type="text"],
  input[type="submit"] {
    width: 100%;
    @include high-rounded-border-radius;
  }

  input,
  textarea,
  input[type="submit"] {
    box-shadow: $defaultShadow;
  }

  input,
  textarea {
    margin-bottom: 12px;
    color: $baseColor;
    background-color: $backgroundColor;
    border: none;
  }

  input[type="submit"] {
    width: 100px;
    padding: 12px;
    @include primary-contrast-color;

    &:hover {
      cursor: pointer;
      background-color: $primaryHoverColor;
    }
  }
}
