@import "./global-variables.scss";
@import "./mixins.scss";

/* LAYOUT */
body, .wp-site-blocks {
  background-color: $backgroundColor;
}

/* PRESENTATION */
.presentation {
  h1, p {
    margin-top: 0;
  }
}

/* ABOUT */
.about-element strong {
  a {
    color: $primaryColor !important;
  }
}

/* SERVICES */
.services .service,
.contact-form form {
  background-color: $cardBackgroundColor;
}

.services .service,
.skills .skill,
.contact-form form {
  box-shadow: $defaultShadow;
}

/* SKILLS */
.skills {
  .skill {
    .skill-title {
      border-radius: $defaultBorderRadius $defaultBorderRadius 0 0;
      -webkit-border-radius: $defaultBorderRadius $defaultBorderRadius 0 0;
      -moz-border-radius: $defaultBorderRadius $defaultBorderRadius 0 0;
      -ms-border-radius: $defaultBorderRadius $defaultBorderRadius 0 0;
      -o-border-radius: $defaultBorderRadius $defaultBorderRadius 0 0;
}
  }
}

/* CONTACT */
.contact-form {
  form {
    padding: 50px !important;
  }

  input,
  textarea {
    @include input-padding;
    width: 90%;
    max-height: 150px;
    margin-bottom: 32px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $primaryColor;
    color: $baseColor;
  }

  p input[type="submit"] {
    max-width: 30%;
    padding: 12px 20px;
    @include primary-contrast-color;
    font-weight: bold;
    border: none;
  }

  .wpcf7-response-output {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 80%;
  }
}

/* BLOG */
.query-title {
  a {
    color: $primaryColor !important;
  }
}
