@import "./global-variables.scss";
@import "./mixins.scss";

body {
  background-color: $backgroundColor;
}

#login {
  form {
    padding: 48px 24px 56px;
    @include default-border-radius;
}

  #nav a,
  #backtoblog a {
    color: $baseColor;
  }
}
