@import "./global-variables.scss";
@import "./mixins.scss";

.template .container {
  opacity: 0;
  transition: ease opacity 1s;
  -webkit-transition: ease opacity 1s;
  -moz-transition: ease opacity 1s;
  -ms-transition: ease opacity 1s;
  -o-transition: ease opacity 1s;
}

.template .container.transparency-off {
  opacity: 1 !important;
}

header {
  opacity: 1 !important;
}

.wp-block-site-logo.is-default-size img {
  @include default-site-logo;
}

/* Custom Classes */
.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.default-shadow {
  box-shadow: $defaultShadow;
}

/* COLORS */
/* palette yellow */
.palette-yellow {
  color: $primaryColor !important;
}

.sticky {
  position: sticky !important;
}

/* LAYOUT */
:where(figure) {
  margin: -5px 0 0 !important;
}
